@import "../node_modules/bootstrap/scss/bootstrap";

$gray: rgba($black, .125);

main {
  .card-box {
    display: flex;
    justify-content: space-around;
  }
}

footer {
  text-align: center;
  border-top: 1px solid $gray;
}
