@import "../node_modules/bootstrap/scss/bootstrap";

$gray: rgba($black, .125);

main {
  .card-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }

    .card {
      flex-basis: 30%;
      min-width: 300px;
    }
  }
}

footer {
  text-align: center;
  border-top: 1px solid $gray;
}
